<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <title>Introduction to vue</title>
    <link rel="stylesheet" href="main.css">
</head>


<body>
    <div id="shopping-list">
        <h1>
            Hello! Newer vue {{header || 'welcome to our first app'}}
        </h1>

        <input type="text" v-model="header" placeholder="edit me">
        <ul>

            <li v-for="item in items" :class="[item.purchased ? 'purchased' : 'notpurchased']">
                {{item.item}} with number: {{item.id}}
            </li>
        </ul>

        <input 
        type="text" v-model="newItem" placeholder="add item"
        v-on:keyup.enter="saveItem" v-bind:disabled="checkbox">
        <button v-on:click="saveItem" v-bind:disabled="newItem.length === 0 || !partyItem">
            Save Item
        </button>

        <br>

        <label class="notpurchased" v-show="newItem.length > 0 && !partyItem"> Item should be "party" </label>

        <br>

        <input type="checkbox" id="purchase" v-model="purchase">
        <label for="purchase"> purchase/not purchase</label>

        <br>

        <input type="checkbox" id="checkbox" v-model="checkbox">
        <label for="checkbox"> disable/enable add new items</label>

        <br>

        <div v-if="items.length >= 10">
            <p>in that moment we have {{items.length}} items, we dont need more items </p>
            <button v-on:click="popItem">
                Delete last item
            </button>
        </div>

        <br>
        <input type="radio" id="one" value="One" v-model="picked">
        <label for="one">One</label>
        <input type="radio" id="two" value="Two" v-model="picked">
        <label for="two">Two</label>
        <input type="radio" id="two" value="Three" v-model="picked">
        <label for="three">Three</label>
        <br>
        <span>Picked: {{ picked }}</span>
        <br>
        <br>

        <select v-model="selected">
            <option disabled value="">Please select one</option>
            <option>A</option>
            <option>B</option>
            <option>C</option>
        </select>
        <span>Selected: {{ selected }}</span>
    </div>

    <script src="https://unpkg.com/vue@next"></script>

    <script>
        const shoppingList = Vue.createApp({
            data() {
                return {
                    header: 'welcome to VueJs',
                    newItem: '',
                    checkbox: false,
                    picked: '',
                    selected: '',
                    purchase: false,
                    items: [
                        { id: 1, item: 'party', purchased:true },
                        { id: 2, item: 'party', purchased:true },
                        { id: 3, item: 'party', purchased:false },
                        { id: 4, item: 'party', purchased:true },
                    ]
                }
            },
            methods:{
                saveItem(){
                    this.newItem.purchased = this.purchase;
                    this.items.push({ id:this.items.length + 1, item: this.newItem, purchased: this.purchase});
                    this.newItem = '';
                },
                popItem(){
                    this.items.pop();
                }
            },
            computed:{
                partyItem : function computeLenght(){
                    return this.newItem === 'party';
                }
            }
        }).mount('#shopping-list')
    </script>

</body>

</html>